<div class="container">
  <h2 class="text-center">List of articles</h2>
  <p>
    <%= link_to "Create new article", new_article_path %>
  </p>
  <% @articles.each_with_index do |article, i| %>
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-header text-center">
        <h4 style="font-weight: bold;"><%= article.title %></h4>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= truncate(article.description, length: 100, separator: ' ') %></p>
          <footer>
            <%= link_to edit_article_path(article) do %>
              <%= icon('fas', 'edit') %>
            <% end %>
            <%= link_to article_path(article) do %>
              <%= icon('fas', 'eye', style:"margin: 0 5px") %>
            <% end %>
            <%= link_to article_path(article), method: :delete do %>
              <%= icon('fas', 'trash') %>
            <% end %>
          </footer>
        </blockquote>
      </div>
    </div>
  <% end %>
</div>
