<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= @article.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @article.description %></p>
      <%= link_to articles_path do %>
        <%= icon('fas', 'arrow-circle-left') %>
      <% end %>  
      <%= link_to edit_article_path(@article) do %>
        <%= icon('fas', 'edit') %>
      <% end %>
      <%= link_to article_path(@article), method: :delete do %>
        <%= icon('fas', 'trash') %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      Created <%= time_ago_in_words(@article.created_at) %> ago
    </div>
  </div>
</div>
